body{
    background: rgb(65, 67, 75);
}
/* Форма входа */
.signUpForm{
    padding: 20px;
    margin-top: 40px;
    width: 50%;
    color: white;
}
@media screen and (max-width: 700px) {
    .signUpForm {width: 100%;}
   }



/* посты */
.post, .createPost, .single_post{
    border: 1px solid black;
    padding: 15px;
    margin-top: 15px;
    background: #343a40!important;
    color: white;
    border-radius: 5px;
}
.postTextInput{
    margin-top: 10px;
}

.btn-primary{
    background: rgb(65, 67, 75);
}

