/* Форма входа */
.signUpForm{
    padding: 20px;
    margin-top: 40px;
    width: 50%;
}
@media screen and (max-width: 700px) {
    .signUpForm {width: 100%;}
   }



/* посты */
.post{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 5px;
    /* background: rgb(255, 255, 255); */
    /* color: white; */
}